/Smart Calculator/Count them all/
/Smart Calculator/Variables/
/Smart Calculator/Add subtractions/
/course-remote-info.yaml
/Smart Calculator/lesson-info.yaml
/Smart Calculator/I’ve got the power/
/course-info.yaml
/.idea/
/Smart Calculator/2+2+/
/Smart Calculator/Error!/
/Smart Calculator/2+2/
/Smart Calculator/task/tests.py
/test_helper.py
